@page
@model IndexModel
@{
    ViewData["Title"] = "Tanya Subbag Keuangan";
}

@section Styles {
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
}

    <div class="landing-container">

        <div class="badge-hexagon">
            <div>LANDING<br>PAGE<br>(TENTATIVE)</div>
        </div>

        <div class="content">
            <h1>Selamat Datang di</h1>

            <img src="~/images/logo.png" alt="Logo Tanya Subbag Keuangan" class="logo">

            <h2>Tanya SubbagKeuangan</h2>

            <a asp-page="/Pertanyaan" class="btn-mulai">Mulai Bertanya</a>
        </div>

    </div>


